<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<title>Promedio Estudiante</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <header>
   <h1>Promedio {{ estudiante }} </h1>
  </header> 

